[Unit]
Description=DYI Macro Keyboard

[Service]
User=sbenites
Group=sbenites
Type=simple
Restart=on-failure
RestartSec=5s

ExecStart=/usr/bin/python3 /opt/deck/main.py

[Install]
WantedBy=multi-user.target
